body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(books.jpg);
        background-size: cover;
    background-position: center;

}
.login-box{
    max-width: 700px;
    margin: 150ox auto;
    float: none;
    
}
.login-left{
    background-color:dimgrey;
    padding: 5px;
}
.login-right{
    background-color:white;
    padding: 5px;
}
.form-control{
    background-color: transparent !important;
}